
* {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --gray: #eee;
  --grayD: #ddd;
  --dark: #666;
  --darker: #333;

  font-family: Roboto, Inter, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body, p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* NotFound */
.message-container {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.message-wrap {
  min-width: 760px;
}

.message-wrap .title {
  width: 200px;
  height: 34px;
  margin-bottom: .5rem;
  text-align: left;
}

.message-wrap .card {
  padding: 3rem 1rem 1rem 1rem;
  background-color: #fff !important;
  border: 1px solid #ccc !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.message-wrap .icon {
  display: block;
  text-align: center;
}

.message-wrap .desc {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  color: #333;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
}

.message-wrap .desc ul {
  font-weight: normal;
  color: #555;
  margin-top: 1rem;
  padding: 0 0 0 1.25rem;
  font-size: 0.85rem;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: rgba(0, 0, 0, .05)
}

.message-wrap .desc ul li {
  margin-left: 1rem;
}